<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleName</key>
	<string>ThirdPlaces</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We use your location to check you in even when the app is running in the background.</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>UILaunchStoryboardName </key>
	<string>&quot;&quot;</string>
	<key>CFBundleIdentifier</key>
	<string>com.williamhallman.ThirdPlaces</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to check you in even when the app is running in the background.
We use your location to check you in even when the app is running in the background.
We use your location to check you in even when the app is running in the background.
We use your location to check you in even when the app is running in the background.</string>
</dict>
</plist>
